{% extends 'base.html' %}

{% block title %}パスワード再設定ページ{% endblock %}

{% block content %}
<div class="card bg-light m-auto" style="max-width: 600px;">
  <div class="card-body p-5">
    <h1 class="card-title h2 text-center p-4">パスワード再設定</h1>

    <p class="card-text">新しいパスワードを入力してください。</p>

    <form method="post">
      {% csrf_token %}
      {% for field in form %}
      <div class="my-3">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% for error in field.errors %}
        <p class="text-danger">{{ error }}</p>
        {% endfor %}
      </div>
      {% endfor %}
      <div class="text-center my-4">
        <button type="submit" class="btn btn-primary">再設定</button>
      </div>
    </form>

    {% for error in form.non_field_errors %}
    <p class="card-text text-danger">{{ error }}</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
