{% extends 'base.html' %}

{% block title %}ユーザー削除ページ{% endblock %}

{% block content %}
<div class="card bg-light m-auto" style="max-width: 600px;">
  <div class="card-body p-5">
    <h1 class="card-title h2 text-center p-4">ユーザー削除</h1>

    <p class="card-text">
      ユーザーを削除します。よろしいですか？<br>
      全てのアイテムが削除されます。
    </p>

    <form method="post">
      {% csrf_token %}
      <div class="text-center my-4">
        <button type="button" class="btn btn-outline-primary mr-4" onClick="window.history.back()">戻る</button>
        <button type="submit" class="btn btn-primary">削除</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
