.btn {
  min-width: 120px;
}

.icon-btn {
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background: transparent;
  padding: 0;
  width: 36px;
  height: 36px;
  color: #212529;
}

.icon-btn:hover {
  background: rgba(0,0,0,.1);
  color: #212529;
  text-decoration: none;
}

.icon-btn:active {
  background: rgba(0,0,0,.2);
}

.icon-btn:disabled {
  background: transparent;
  opacity: .5;
}

.icon-btn:focus {
  outline: 0;
}

.material-icons {
  vertical-align: bottom;
}
